<%- include('../../modules/header'), {title:title} %>
<%- include('../../modules/navbar'), {signedIn}%>

<div class="header-spacer"></div>
<div class="container profile-contaienr">
    <h1 class="page-header">Personlig profil</h1>
    <h2 class="person-name"><%= person.first_name %> <%= person.last_name %> </h2>
    <h3 class="person-info">tel: <%= person.telephone %> | mail: <%= person.email %> </h3>
    <div id="qr" class="qr-code align-middle"></div>
    <br><br>
    <h1 class="header-text">Dos Information</h1>
    <% for(vaccin of vaccins){ %>
        <div class="vaccin_info">
            <h2><span class="bold">Dos nummer:</span> <%= vaccin.dose %> </h2>
            <h3><span class="bold">Datum tagen:</span> <%= vaccin.date %> </h3>
            <h3><span class="bold">Administreras av:</span> <%= vaccin.staff_name %></h3>
            <h3><span class="bold">Till patient:</span> <%= vaccin.patient_name %></h3>
        </div>
    <% } %> 
    </div>

<script>
    const qr = new QRCodeStyling({
        width: 300,
        height: 300,
        margin: 20,
        type: 'svg',
        data: "<%= person.secret %>",
        image: "/images/brand/Logo.png",
        dotsOptions: {
            color: '#000',
            type: 'rounded'
        },
        backgroundOptions: {
            color: '#fff',
        },
        cornersSquareOptions: {
            type: "extra-rounded"
        },
        imageOptions: {
            crossOrigin: 'anonymous',
            margin: 5,
        }
    });

    qr.append(document.getElementById('qr'));
    qr.downlaod({name: "qr", extension: "svg"});
</script>
<%- include('../../modules/footer') %> 
